@import 'fontes';
@import 'cores';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin displayFlex(){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin displayFlex2() {
    display: flex;
    flex-direction: column;
} 

@mixin displayFlex3() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

@mixin displayFlex4() {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

@mixin displayIcon() {
    display: flex;
    flex-direction: row;
    gap: 1rem;
} 

.fonte-prata{
    font-family: $fonte-prata;
    color: $cor-fonte2;
}

.fonte-inter{
    font-family: $fonte-inter;
    color: $cor-fonte;
}

body{
    background: $cor-fundo;
    color: $cor-fonte;
}

/*header*/
.cabecalho{
    @include displayFlex();
    padding: 2rem 6rem;

    ul{
        @include displayFlex();
        gap: 1.5rem;

        li{ 
            list-style: none;
        }
    }

    .ancora{
        align-items: center;
        text-decoration: none;
        color: $cor-fonte;
    }

    .botao-1{
        padding: 1rem 2.5rem;
        background: $cor-botoes;
        color: #000;
        font-size: 1.3rem;
    }
}

/*main*/
#principal{
    @include displayFlex2();

    .box-titulo-paragrafo-1{
        @include displayFlex2();
        margin: 2rem 0rem 4rem 6rem;

        .titulo-h1{ 
            font-size: 3.3rem;
        } 
    }

    .box-logo-empresas{
        @include displayFlex3();
        margin-bottom: 3rem;
    }

    .box-imagem-titulo-paragrafo{
        @include displayFlex3();

        .subtitulo-h2{
            padding: 1.5rem 0rem 0.5rem 0rem;
            font-size: 2rem;

            &::after{
                content: '⟶';
                padding-left: 0.5rem;
            }
        }
    }

    .box-titulo-paragrafo{
        @include displayFlex4();
        background: $cor-fundo2;
        color: $cor-fonte2;
        padding: 4rem 0;
        margin: 4rem 0;

        .item-box-titulo-paragrafo{
            padding: 0rem 6rem;

            .subtitulo-h2{
                font-size: 2rem;
            }

            .padding-para-1{
                padding: 1rem 0rem 2rem 0rem;
            }
        }

        .box-paragrafo{
            .padding-para-2{
                padding: 1rem 0;
            }.padding-para-3{
                padding: 1rem 0;
            } .padding-para-4{
                padding: 1rem 0;
            } .padding-para-5{
                padding: 1rem 0;
            }
        }
    }

    .box-titulo-paragrafo-botao{
        //@include displayFlex2;
        margin-left: 6rem;

        .item-box-titulo-paragrafo{
            .subtitulo-h2{
                font-size: 2rem;
                padding: 1rem 0;
            }
        }

        .botao-2{
            padding: 1rem 2.5rem;
            background: $cor-botoes;
            color: #000;
            font-size: 1.3rem;
            margin: 1rem 0;
        }
    }
} 

/*footer*/
.rodape{
    @include displayFlex();
    background: $cor-fundo2;
    padding: 2rem 6rem;
    margin-top: 3rem;

    .icones{
        @include displayIcon();
    }
}